body{
    background-color: #efe3cf;
    font-family: 'Oswald', Arial, sans-serif;
}

.titulo{
    color: #804943;
}

.subtitulo{
    color: #804943;
}

.resposta-historica{
    border: 3px solid #804943;
    padding: 20px;
    margin: 2%;
}

.sulamericano{
    border: 3px dashed #804943;
    padding: 15px;
    margin: 2%;
}

#titulo-principal{
    text-align: center;
    text-decoration: underline;
    font-size: 50px;
    color: #603732;
}
/*remove o estilo padrão da lista*/
ul{
    list-style-type: none;
}
